Cleaning the Retail Store Data

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
### Utilizing OS Module to read paths dynamically

raw_df = pd.read_csv('../data/raw/retail_store_sales_raw.csv', index_col="Transaction ID")
raw_df.head()

,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
Transaction ID,,,,,,,,,,
TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12575 entries, TXN_6867343 to TXN_2407494
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       12575 non-null  object
 1   Category          12575 non-null  object
 2   Item              11362 non-null  object
 3   Price Per Unit    11966 non-null  float64
 4   Quantity          11971 non-null  float64
 5   Total Spent       11971 non-null  float64
 6   Payment Method    12575 non-null  object
 7   Location          12575 non-null  object
 8   Transaction Date  12575 non-null  object
 9   Discount Applied  8376 non-null   object
dtypes: float64(3), object(7)
memory usage: 1.1+ MB

In [4]:
raw_df.describe()

       Price Per Unit      Quantity   Total Spent
count    11966.000000  11971.000000  11971.000000
mean        23.365912      5.536380    129.652577
std         10.743519      2.857883     94.750697
min          5.000000      1.000000      5.000000
25%         14.000000      3.000000     51.000000
50%         23.000000      6.000000    108.500000
75%         33.500000      8.000000    192.000000
max         41.000000     10.000000    410.000000

In [5]:
raw_df.shape

(12575, 10)

In [6]:
raw_df['Item'].value_counts()

Item
Item_2_BEV      126
Item_25_FUR     113
Item_11_FUR     110
Item_16_MILK    109
Item_1_MILK     109
               ...
Item_5_BEV        7
Item_13_BEV       7
Item_13_FUR       7
Item_21_PAT       6
Item_3_EHE        5
Name: count, Length: 200, dtype: int64

### Missing Items in Items columsn.
### Remove the missing items from Item column. 
### Item name is identity, without it cannot be joined, grouped or understood

In [7]:
nan_count = raw_df['Item'].isna().sum()

non_nan_count = raw_df['Item'].notna().sum()

print(f"Missing: {nan_count}")
print(f"Valid: {non_nan_count}")

Missing: 1213
Valid: 11362

In [8]:
#### Drop the missing items row

### Fetch the Dataframe where item is not null/nan
raw_df[raw_df['Item'].notna()]

### Fetch the Dataframe where item is null/nan
raw_df[raw_df['Item'].isna()]

#### Dropping the Item column
raw_df = raw_df[raw_df['Item'].notna()]

In [9]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11362 entries, TXN_6867343 to TXN_2407494
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       11362 non-null  object
 1   Category          11362 non-null  object
 2   Item              11362 non-null  object
 3   Price Per Unit    11362 non-null  float64
 4   Quantity          11362 non-null  float64
 5   Total Spent       11362 non-null  float64
 6   Payment Method    11362 non-null  object
 7   Location          11362 non-null  object
 8   Transaction Date  11362 non-null  object
 9   Discount Applied  7579 non-null   object
dtypes: float64(3), object(7)
memory usage: 976.4+ KB

In [10]:
raw_df.head(15)

,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
Transaction ID,,,,,,,,,,
TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,NaN
TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.0,8.0,232.0,Cash,Online,2024-11-16,True
TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.0,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
TXN_9939063,CUST_14,Beverages,Item_7_BEV,14.0,9.0,126.0,Digital Wallet,In-store,2024-01-14,NaN

In [17]:
raw_df[raw_df['Price Per Unit'].isna()]

### Check any missing values in Price Per Unit
missing_price_per_unit = raw_df['Price Per Unit'].isna().sum()
print(missing_price_per_unit)
### Check any non-missing values in Price Per Unit
non_missing_price_per_unit = raw_df['Price Per Unit'].notna().sum()
non_missing_price_per_unit

0

np.int64(11362)

Missing Item values were the issue. Removing them fixed the dataset.

Basically Garbage keys create garbage facts

In [18]:
## Recalculate the Total Spent

raw_df['Total Spent'] = raw_df['Price Per Unit'] * raw_df['Quantity']

In [19]:
raw_df

,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
Transaction ID,,,,,,,,,,
TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...
TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,NaN
TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,NaN
TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,NaN

In [21]:
### Handle Missing Discounts
### Use 0 to represent no discount avaialble. 

raw_df['Discount Applied'] = raw_df['Discount Applied'].fillna(0)

In [22]:
raw_df

,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
Transaction ID,,,,,,,,,,
TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,0
TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...
TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,0
TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,0
TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,0

In [23]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11362 entries, TXN_6867343 to TXN_2407494
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       11362 non-null  object
 1   Category          11362 non-null  object
 2   Item              11362 non-null  object
 3   Price Per Unit    11362 non-null  float64
 4   Quantity          11362 non-null  float64
 5   Total Spent       11362 non-null  float64
 6   Payment Method    11362 non-null  object
 7   Location          11362 non-null  object
 8   Transaction Date  11362 non-null  object
 9   Discount Applied  11362 non-null  object
dtypes: float64(3), object(7)
memory usage: 1.2+ MB

In [28]:
### Convert Transaction Date from Object to Datetime

raw_df['Transaction Date'] = pd.to_datetime(raw_df['Transaction Date'], errors="coerce")

In [ ]:
### Validate if any missing Transaction Date values
### 0 means no missing values

raw_df['Transaction Date'].isna().sum()

np.int64(0)

In [31]:
raw_df.head(3)

,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
Transaction ID,,,,,,,,,,
TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False

In [35]:
### Fixing of Discount Applied
### Currently Discount Applied have True, False and Zero.
### Make it consistent by True =1 and False = 0

raw_df["Discount Applied"] = raw_df["Discount Applied"].replace({0: False})

C:\Users\naren\AppData\Local\Temp\ipykernel_13412\642707740.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  raw_df["Discount Applied"] = raw_df["Discount Applied"].replace({0: False})

In [ ]:
# raw_df[raw_df["Discount Applied"] == 1]
# raw_df["Discount Applied"].value_counts()

### Convert into boolean type and finally to integer type.

raw_df["Discount Applied"] = raw_df["Discount Applied"].astype(bool)

raw_df["Discount Applied"] = raw_df['Discount Applied'].astype(int)

In [40]:
raw_df['Discount Applied'].value_counts()

Discount Applied
0    7561
1    3801
Name: count, dtype: int64

In [41]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11362 entries, TXN_6867343 to TXN_2407494
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       11362 non-null  object
 1   Category          11362 non-null  object
 2   Item              11362 non-null  object
 3   Price Per Unit    11362 non-null  float64
 4   Quantity          11362 non-null  float64
 5   Total Spent       11362 non-null  float64
 6   Payment Method    11362 non-null  object
 7   Location          11362 non-null  object
 8   Transaction Date  11362 non-null  datetime64[ns]
 9   Discount Applied  11362 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 1.2+ MB

In [42]:
#### Save this file as clean_sales.csv under processed folder

raw_df.to_csv('../data/processed/clean_sales.csv')