Cleaning the Retail Store Data

In [2]:
import numpy as np
import pandas as pd
import os

In [12]:
### Utilizing OS Module to read paths dynamically

raw_df = pd.read_csv('../data/raw/retail_store_sales_raw.csv', index_col="Transaction ID")
raw_df.head()

,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
Transaction ID,,,,,,,,,,
TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [14]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12575 entries, TXN_6867343 to TXN_2407494
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       12575 non-null  object
 1   Category          12575 non-null  object
 2   Item              11362 non-null  object
 3   Price Per Unit    11966 non-null  float64
 4   Quantity          11971 non-null  float64
 5   Total Spent       11971 non-null  float64
 6   Payment Method    12575 non-null  object
 7   Location          12575 non-null  object
 8   Transaction Date  12575 non-null  object
 9   Discount Applied  8376 non-null   object
dtypes: float64(3), object(7)
memory usage: 1.1+ MB

In [13]:
raw_df.describe()

       Price Per Unit      Quantity   Total Spent
count    11966.000000  11971.000000  11971.000000
mean        23.365912      5.536380    129.652577
std         10.743519      2.857883     94.750697
min          5.000000      1.000000      5.000000
25%         14.000000      3.000000     51.000000
50%         23.000000      6.000000    108.500000
75%         33.500000      8.000000    192.000000
max         41.000000     10.000000    410.000000

In [15]:
raw_df.shape

(12575, 10)

In [18]:
raw_df['Item'].value_counts()

Item
Item_2_BEV      126
Item_25_FUR     113
Item_11_FUR     110
Item_16_MILK    109
Item_1_MILK     109
               ...
Item_5_BEV        7
Item_13_BEV       7
Item_13_FUR       7
Item_21_PAT       6
Item_3_EHE        5
Name: count, Length: 200, dtype: int64

### Missing Items in Items columsn.
### Remove the missing items from Item column. 
### Item name is identity, without it cannot be joined, grouped or understood

In [20]:
nan_count = raw_df['Item'].isna().sum()

non_nan_count = raw_df['Item'].notna().sum()

print(f"Missing: {nan_count}")
print(f"Valid: {non_nan_count}")

Missing: 1213
Valid: 11362

In [23]:
#### Drop the missing items row

### Fetch the Dataframe where item is not null/nan
raw_df[raw_df['Item'].notna()]

### Fetch the Dataframe where item is null/nan
raw_df[raw_df['Item'].isna()]

#### Dropping the Item column
raw_df = raw_df[raw_df['Item'].notna()]

In [24]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11362 entries, TXN_6867343 to TXN_2407494
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       11362 non-null  object
 1   Category          11362 non-null  object
 2   Item              11362 non-null  object
 3   Price Per Unit    11362 non-null  float64
 4   Quantity          11362 non-null  float64
 5   Total Spent       11362 non-null  float64
 6   Payment Method    11362 non-null  object
 7   Location          11362 non-null  object
 8   Transaction Date  11362 non-null  object
 9   Discount Applied  7579 non-null   object
dtypes: float64(3), object(7)
memory usage: 976.4+ KB